.card {
  position: relative;
  margin:1rem 1rem 1rem  auto;
  justify-content: space-between;
}
.card img {
  width: 100%;
  max-width: fit-content !important;
  height: auto 0 !important;
  display: block;
  border: 3px dotted #969696;
  border-radius: 10px;
}

.card .front {
  transform: rotateY(90deg);
  transform: all ease-in-out 0.3s;
  position: absolute;
  margin: 0 auto;
  border: transparent;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.3s;
}

.card .back {
  transition: all ease-in-out 0.3s;
  transition-delay: 0.3s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
