.card {
  position: relative;
  margin: 1rem auto;
  justify-content: space-around;
 
}
.card img {
  width: 100%;
  max-width: fit-content ;
  height: auto 0;
  display: block;
  border: 3px dotted #240606;
  border-radius: 10px;
}

.card .front {
  transform: rotateY(90deg);
  transform: all ease-in-out 0.3s;
  position: absolute;
  margin: 0 auto;
  border: transparent;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.3s;
}

.card .back {
  transition: all ease-in-out 0.3s;
  transition-delay: 0.3s;

}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;

}
