@import url('//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Macondo&display=swap');

body {
  margin: 0;
  padding: 0;
}
.game {
  margin: auto;
  -webkit-text-stroke: 2px #2975b7;
  font-family: 'Pokemon' ,'Macondo', cursive;
  color: #ffcb05;
  letter-spacing: 4px;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  min-height: 100vh;
}
.heder {
  -webkit-text-stroke: 4px #2975b7;
  font-size: 8rem;
  position: absolute;
  left: 10%;
  right: 10%;
  z-index: 1;
  top:20%;
  max-width: 100vw;
  max-height: 100vh;
  display: block;

  animation: textZoom 3.5s ease-in-out;
}

@keyframes textZoom {
  0% {
  transform: scale(0);
  }
  70% {
  transform: scale(1.5);
  }
  100% {
    transform: scale(0);
    }
  }
.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.game-data {
  display: flex;
  justify-content: space-evenly;
  font-size: 4vh;
  background-color: #969696;
}
